# show all transactions

<% if @transactions.blank? %>
<p>There are currently no transactions in the system.</p>
<% else %>
<p>These are your transactions!</p>
<br />

<ul id = "transactions">
   <% @transactions.each do |t| %>
    <li>
        <%= link_to t.date, {:action => 'show', :id => t.id} -%>
        <b> <%= link_to 'Edit', {:action => "edit", :id => a.id} %></b>
    </li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add a new transaction", {:action => 'new' }%></p>